options {
	listen-on port 53 { 127.0.0.1;systemIP; };
	#listen-on-v6 port 53 { ::1; };
	directory 	"/var/named";
	dump-file 	"/var/named/data/cache_dump.db";
	statistics-file "/var/named/data/named_stats.txt";
	memstatistics-file "/var/named/data/named_mem_stats.txt";
	allow-query     { any; };

	recursion no;

	dnssec-enable yes;
	dnssec-validation yes;
	dnssec-lookaside  auto;
	bindkeys-file "/etc/named.iscdlv.key";

	managed-keys-directory "/var/named/dynamic";

	pid-file "/run/named/named.pid";
	session-keyfile "/run/named/session.key";
};

logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};


include "/etc/named/named.zones";

key "rdnskey" {
       algorithm hmac-md5;

secret
"TSIG key";

};
